/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
.container {
  width: 85%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 50px;
}

.container header {
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
}

.container header nav {
  display: flex;
  justify-content: space-between;
  width: 63%;
  align-items: center;
}

nav a:hover {
  text-decoration: underline;
  text-decoration-color: black;
}

.container header div {
  width: 35%;
}

header div a {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
}

.logo {
  width: 58%;
  margin-right: 5%;
}

nav a {
  text-decoration: none;
  color: silver;
  font-weight: 600;
}

#main-heading {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3%;
}

#service-img-container {
  width: 100%;
}

.services-header-img {
  width: 100%;
}

#services-info {
  width: 100%;
  margin-top: 3%;
}

#services-info h1 {
  font-size: 200%;
}

#services-info p {
  font-size: 125%;
}

#hr-top {
  margin-top: 4%;
  margin-bottom: 0;
}

#middle-article {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-evenly;
  height: 1200px;
}

#middle-article section {
  width: 48%;
  border: 1px solid black;
  height: 27%;
  /* padding: 0 1.5%; */
  display: flex;
  flex-wrap: wrap;
  align-content: space-evenly;
  background-color: #f4f3f4;
}

#middle-article section h3 {
  font-size: 130%;
  margin: 0 0 0 6%;
}

#hr-bottom {
  margin-top: 0;
}

#middle-article section p {
  font-size: 125%;
  margin-left: 6%;
}

#middle-article section button {
  padding: 14px 40px;
  border-radius: 5px;
  background-color: white;
  margin-left: 6%;
}

#bottom-section {
  margin-top: 4%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#bottom-section div h3 {
  font-size: 130%;
}

#facts-services {
  width: 48%;
}

.services-info-img {
  width: 48%;
}

#facts-services p {
  font-size: 125%;
}

ul li {
  list-style: inside;
  font-size: 125%;
  margin: 1em 0;
}

footer {
  margin-top: 10%;
  display: flex;
  justify-content: center;
}

footer p {
  font-size: 125%;
}